SPRING_PROFILES_ACTIVE=mysql
PORT=8080

DB_URL=jdbc:mysql://localhost:3306/dokhub?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=

YOUTUBE_API_KEY=

CHZZK_CLIENT_ID=
CHZZK_CLIENT_SECRET=
CHZZK_NID_AUT=
CHZZK_NID_SES=
CHZZK_LIVE_ENABLED=false
CHZZK_CHAT_ENABLED=false

ADMIN_API_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://dokhub.site
